---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/sections/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import StatsStrip from "../components/sections/StatsStrip.astro";
import About from "../components/sections/About.astro";
import Services from "../components/sections/Services.astro";
import MissionVision from "../components/sections/MissionVision.astro";
import Affiliates from "../components/sections/Affiliates.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout title="Asiaven - Inicio">
  <Navbar />
  <main>
    <Hero />
    <StatsStrip />
    <About />
    <Services />
    <MissionVision />
    <Affiliates />
  </main>
  <Footer />
</Layout>


