---
import StoreLayout from "../../../layouts/StoreLayout.astro";
import StoreNavigation from "../../../components/react/StoreNavigation.tsx";
import { DesktopBTO } from "../../../components/react/BTOForm.tsx";
---

<StoreLayout title="Configurar Workstation - Asiaven Store">
  <StoreNavigation client:load currentPath={Astro.url.pathname} />

  <main class="max-w-4xl mx-auto py-16 px-4">
    <DesktopBTO client:load />
  </main>
</StoreLayout>
